---
title: About
tagline: nil
---

<div class="row">
  
  <div class="col-md-4">
    <img class="img-responsive" src="<%= data.about.image %>">
  </div>
  <div class="col-md-8">
    <h2><%= data.about.title %></h2>
    <%= data.about.description %>
  </div>
  
</div>

<br>

<div class="row">
  
  <div class="col-md-12">
    <%= data.about.description_extra %>
  </div>
  
</div>

<!-- Team Member Profiles -->

<div class="row">
  
  <div class="col-lg-12">
    <h2 class="page-header">Partners</h2>
  </div>
  
  
  <% for partner_id in data.about.partners.keys %>
  
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="height:450px;">

    <% if(data.about.partners[partner_id].image != 'nil') %>
    <img class="img-responsive" src="<%= data.about.partners[partner_id].image %>">
    <% end %>
    <h3>
      <small> <%= data.about.partners[partner_id].job %></small>
      <%= data.about.partners[partner_id].name %>
    </h3>
    <p><%= data.about.partners[partner_id].description %></p>
    
    <ul class="list-unstyled list-inline list-social-icons">
      
      <% if(data.about.partners[partner_id].facebook != 'nil') %>
      <li class="tooltip-social facebook-link">
	<a href="<%= data.about.partners[partner_id].facebook %>" data-toggle="tooltip" data-placement="top" title="Facebook">
	  <i class="fa fa-facebook-square fa-2x"></i>
	</a>
      </li>
      <% end %>
      
      <% if(data.about.partners[partner_id].linkedin != 'nil') %>
      <li class="tooltip-social linkedin-link">
	<a href="<%= data.about.partners[partner_id].linkedin %>" data-toggle="tooltip" data-placement="top" title="LinkedIn">
	  <i class="fa fa-linkedin-square fa-2x"></i>
	</a>
      </li>
      <% end %>
      
      <% if(data.about.partners[partner_id].twitter != 'nil') %>
      <li class="tooltip-social twitter-link">
	<a href="<%= data.about.partners[partner_id].twitter %>" data-toggle="tooltip" data-placement="top" title="Twitter">
	  <i class="fa fa-twitter-square fa-2x"></i>
	</a>
      </li>
      <% end %>
      
      <% if(data.about.partners[partner_id].google_plus != 'nil') %>
      <li class="tooltip-social google-plus-link">
	<a href="<%= data.about.partners[partner_id].google_plus %>" data-toggle="tooltip" data-placement="top" title="Google+">
	  <i class="fa fa-google-plus-square fa-2x"></i>
	</a>
      </li>
      <% end %>
      
    </ul>
  </div>
  
  <% end %>
  
</div>

<!-- <\!-- Our Customers -\-> -->

<!-- <div class="row"> -->
  
<!--   <div class="col-lg-12"> -->
<!--     <h2 class="page-header">Our Customers</h2> -->
<!--     <%= data.about.customers_text %> -->
<!--   </div> -->

    
<!-- </div> -->



